$pink: #FFE1DA;
$blue: #8AC0F3;
$white: #FFFFFF;
$black: #3E3E3E;
$gray: #D9D9D9;
$yellow: #FFF6C9;
$red: #fd3f3f;

$headerHeight: 100px;
$footerHeight: 115px;
$inputHorizontalPadding: 0.625rem;
$inputVerticalPadding: 1rem;

$transitionDuration: 0.3s;
