<div class="main-with-header-offset">
  <div class="container">
    <h1 class="h2 padding-bottom-24">Каталог</h1>

    <app-article-list-filters
      (filtersChanged)="onFiltersChange($event)"
    ></app-article-list-filters>

    @if (isInitialLoading()) {
      <app-preloader></app-preloader>
    } @else {
      <div class="grid justify-flex-start padding-top-24 padding-bottom-24">
        @for (article of articlesList.articlesList; track article.id) {
          <div class="col w-33">
            <app-article-card [article]="article"></app-article-card>
          </div>
        }
      </div>

      @if (articlesList.canLoadMore) {
        <div class="load-more-button">
          <app-button
            [isLoading]="isLoadMoreLoading()"
            [icon]="faPlus"
            (click)="onClickLoadMore()"
            >Показать ещё
          </app-button>
        </div>
      }
    }
  </div>
</div>
