<div class="main-with-header-offset">
  <div class="container">
    <h1 class="h2 padding-bottom-24">Каталог</h1>

    <app-article-list-filters
      (filtersChanged)="onFiltersChange($event)"
    ></app-article-list-filters>

    @if (isInitialLoading()) {
      <app-preloader></app-preloader>
    } @else if (articlesList.totalCount > 0) {
      <div
        class="grid justify-flex-start align-items-stretch padding-top-24 padding-bottom-24"
      >
        @for (article of articlesList.articlesList; track article.id) {
          <div class="col w-33">
            <app-article-card [article]="article"></app-article-card>
          </div>
        }
      </div>
    } @else {
      <p class="text-align-center padding-top-24 padding-bottom-24 h3">
        Ничего не нашлось
      </p>
    }

    @if (articlesList.canLoadMore) {
      <div class="load-more-button">
        <app-button
          [isLoading]="isLoadMoreLoading()"
          [icon]="faPlus"
          (click)="onClickLoadMore()"
          >Показать ещё
        </app-button>
      </div>
    }
  </div>
</div>
