<form [formGroup]="form">
  <div class="grid">
    <div class="col w-100">
      <app-input
        [bigFontSize]="true"
        [control]="titleControl"
        [icon]="faSearch"
        [label]="'Заголовок'"
      ></app-input>
    </div>
    <div class="col w-100">
      <app-input-autocomplete
        (search)="onCategorySearch($event)"
        [control]="categoriesControl"
        [label]="'Категории'"
        [options]="categoryOptions()"
      ></app-input-autocomplete>
    </div>
    <div class="col w-50">
      <app-input
        [control]="minPriceControl"
        [label]="'Минимальная цена'"
        [mask]="InputMasks.Number"
      ></app-input>
    </div>
    <div class="col w-50">
      <app-input
        [control]="maxPriceControl"
        [label]="'Максимальная цена'"
        [mask]="InputMasks.Number"
      ></app-input>
    </div>
  </div>
</form>
