<div class="hero-section">
  <div class="hero-section__inner">
    <h1 class="margin-bottom-12 h2">Сообщество любителей домашних животных</h1>
    <p class="body">Присоединяйтесь к нам и радуйте себя и своего питомца!</p>
  </div>
  <div class="hero-section__image-wrapper">
    <div class="hero-section__image-overlay"></div>
    <img
      [ngSrc]="'/assets/img/main-cat.png'"
      alt="Белый кот"
      class="hero-section__image"
      fill
    />
  </div>
</div>

<div class="container">
  <div class="text-section">
    <p><strong>Добро пожаловать!</strong></p>
    <p>
      Наш форум создан для тех, кто ценит своих домашних питомцев и хочет
      делиться своим опытом, задавать вопросы и находить полезные советы. Здесь
      вы найдете сообщество таких же заботливых хозяев, как вы, готовых помочь в
      любых вопросах, связанных с содержанием, уходом, здоровьем и воспитанием
      животных.
    </p>
    <p><strong>Что вы можете сделать на форуме:</strong></p>
    <ul>
      <li>Создавать темы для обсуждений и делиться своими историями.</li>
      <li>Задавать вопросы о поведении, питании и здоровье животных.</li>
      <li>Читать полезные статьи и узнавать новое о питомцах.</li>
      <li>Обсуждать интересные случаи, связанные с вашими любимцами.</li>
      <li>
        Находить рекомендации по ветеринарным клиникам, грумерам и другим
        услугам.
      </li>
    </ul>

    <p>
      Наш форум охватывает всех питомцев – от кошек и собак до экзотических
      животных. Каждый найдет здесь раздел по интересам и поддержку от
      единомышленников.
    </p>

    <p>
      <strong
        >Чтобы начать общение, зарегистрируйтесь и присоединяйтесь к
        обсуждениям!</strong
      >
      Мы стараемся сделать наше сообщество комфортным и безопасным для каждого,
      поэтому не забывайте соблюдать правила форума.
    </p>

    <p>
      Добро пожаловать в "Пушистые друзья" – место, где ваши питомцы и вы
      найдёте новых друзей!
    </p>
  </div>

  <div class="articles-section">
    <p class="h2 margin-bottom-12 text-align-center">Последние статьи</p>
    <div class="articles-section__carousel-wrapper">
      <app-button
        (click)="carousel.step(1)"
        [disabled]="carousel.isBackwardNavDisabled()"
        [iconOnly]="true"
        [icon]="faChevronLeft"
      ></app-button>
      <p-carousel
        #carousel
        [circular]="false"
        [numScroll]="1"
        [numVisible]="3"
        [showNavigators]="false"
        [value]="articles"
        class="articles-section__carousel"
      >
        <ng-template #item let-article>
          <div class="articles-section__article-wrapper">
            <app-article-card [article]="article"></app-article-card>
          </div>
        </ng-template>
      </p-carousel>
      <app-button
        (click)="carousel.step(-1)"
        [disabled]="carousel.isForwardNavDisabled()"
        [iconOnly]="true"
        [icon]="faChevronRight"
      ></app-button>
    </div>
  </div>
</div>
