@use '../../../../global-styles/variables';

:host {
  --p-autocomplete-padding-y: #{variables.$inputVerticalPadding};
  --p-autocomplete-padding-x: #{variables.$inputHorizontalPadding};
  --p-autocomplete-color: #{variables.$black};
  --p-autocomplete-background: #{variables.$white};
  --p-autocomplete-border-color: #{variables.$blue};
  --p-autocomplete-border-radius: 12px;
  --p-autocomplete-transition-duration: #{variables.$transitionDuration};

  --p-autocomplete-overlay-color: #{variables.$black};
  --p-autocomplete-overlay-background: #{variables.$white};
  --p-autocomplete-overlay-border-radius: 8px;
  --p-autocomplete-overlay-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  --p-autocomplete-option-padding: 1rem;
  --p-autocomplete-option-color: #{variables.$black};

  --p-autocomplete-chip-padding-y: 0.25rem;
  --p-autocomplete-chip-border-radius: 4px;

  ::ng-deep {
    p-autocomplete,
    .p-autocomplete {
      width: 100% !important;
    }
  }
}

label {
  z-index: 1;
}

