@use '../../../../global-styles/variables';

.header {
  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: variables.$pink;
  padding: 15px 30px;

  width: calc(100% - 80px);
  height: variables.$headerHeight;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-right-radius: 40px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;

    &-icon {
      font-size: 3.5rem;
    }
  }
}
