<header class="header">
  <a class="logo" href="/">
    <i class="fa fa-paw"></i>
    <p>Пушистые друзья</p>
  </a>
  <nav class="nav">
    <ul>
      <li>
        <div class="navigation-item" id="journal-link">
          <i class="fa fa-book-open"></i>
          <p>Каталог</p>
          <i class="fa fa-chevron-down"></i>
        </div>
      </li>
      <li>
        <a
          [routerLink]="[AppRoutes.Articles, AppRouteSuffixes.Create]"
          class="navigation-item"
        >
          <i class="fa fa-plus"></i>
          <p>Добавить статью</p>
        </a>
      </li>
    </ul>
  </nav>
  <div class="dropdown">
    <ul class="dropdown hidden" id="dropdown-menu">
      <li>
        <a [routerLink]="[AppRoutes.Articles]">Собаки</a>
      </li>
      <li>
        <a [routerLink]="[AppRoutes.Articles]">Кошки</a>
      </li>
      <li>
        <a [routerLink]="[AppRoutes.Articles]">Грызуны</a>
      </li>
    </ul>
  </div>
</header>
