/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcd9d6;
  padding: 15px 30px;

  width: calc(100% - 80px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-right-radius: 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 12px;

  color: #3E3E3E;
}

.logo .fa-paw {
  font-size: 3.5rem;
}

.logo p {
  font-size: 36px;
  margin: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 18px;
}

.navigation-item {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
  color: #3E3E3E;
}

.navigation-item p {
  margin: 0;
}

.dropdown {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 430px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 100;
}

.dropdown li {
  margin: 0;
  padding: 0;
}

.dropdown li a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #f5f5f5;
  color: #000;
}

.dropdown.hidden {
  display: none;
}

.dropdown.visible {
  display: block;
}
