@use '../../../../global-styles/variables';

:host {
  --p-inputtext-color: #{variables.$black};
  --p-inputtext-background: #{variables.$white};
  --p-inputtext-padding-y: #{variables.$inputVerticalPadding};
  --p-inputtext-padding-x: #{variables.$inputHorizontalPadding};
  --p-inputtext-border-color: #{variables.$blue};
  --p-inputtext-transition-duration: #{variables.$transitionDuration};
  --p-inputtext-border-radius: 12px;
}

.big-font-size {
  font-size: 2rem;
}

.input.ng-invalid.ng-touched {
  --p-inputtext-border-color: #{variables.$red};
}
