/* Footer */
.footer {
  margin-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top-left-radius: 40px;

  background: #fcd9d6;
  padding: 15px 30px;
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: flex-end;

  position: relative;
  z-index: 1;

  &__social-links {
    display: flex;
    gap: 16px;

    a {
      font-size: 28px;
    }
  }

  &__support-email {
    padding-top: 5px;
  }
}

