<footer class="footer">
  <div class="social-links">
    <a href="https://www.vk.com">
      <fa-icon [icon]="faVk"></fa-icon>
    </a>
    <a href="https://web.telegram.org">
      <fa-icon [icon]="faTelegram"></fa-icon>
    </a>
    <a href="https://www.instagram.com">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
  </div>
  <p>2024. Все права защищены</p>
  <p class="support-email">
    Поддержка:
    <a href="mailto:fluffy.support@friends.com"
      >fluffy.support&#64;friends.com</a
    >
  </p>
</footer>
