<div class="main-with-header-offset">
  <div class="container">
    @if (isLoading()) {
      <app-preloader></app-preloader>
    } @else {
      <article class="article">
        <h1 class="h1">{{ article().title }}</h1>
        <div class="article__meta-info">
          <p>{{ article().publishedAt | date: 'dd.MM.YYYY hh:mm' }}</p>
        </div>
        <div class="article__preview-wrapper">
          <img
            [ngSrc]="article().photoUrl"
            alt="Обложка статьи '{{ article().title }}'"
            class="article__preview"
            fill
          />
        </div>

        <div [innerHTML]="article().content" class="article__inner"></div>
      </article>

      <div class="article-comments margin-bottom-12">
        <p class="h3 margin-bottom-12">Комментарии</p>
        <app-article-comment-create
          [articleId]="article().id"
          (created)="onCommentCreate($event)"
        ></app-article-comment-create>

        @for (comment of comments(); track comment.id) {
          <app-article-comment [comment]="comment"></app-article-comment>
          @if ($index !== article().comments.length - 1) {
            <div class="article-comments__divider"></div>
          }
        }
      </div>
    }
  </div>
</div>
